@import "scss/config";

.li__active {
  text-decoration: underline;
}

/* EFNI Í INDEX */
.iMain {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 20px;

  &__grid {
    max-width: $max-width;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
    flex-direction: column;

    @media (min-width: 800px) {
      display: flex;
      flex-direction: row;
    }
  }

  &__row:nth-child(2) {
    @media (max-width: 799px) {
      flex-direction: column-reverse;
    }
  }

  &__col {
    width: 100%;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    justify-content: center;

    @media (min-width: 800px) {
      width: 50%;
      margin-top: 20px;
    }
  }

  &__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  &__image {
    width: 100%;
  }

  &__img {
    width: 100%;
  }

  &__title {
    padding-bottom: 20px;
    font-family: Oswald, Verdana, serif;
    font-size: 36px;
  }

  &__text {
    padding-bottom: 40px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 21px;
  }

  &__button {
    width: 250px;
    padding: 10px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #cc9694;
    border-radius: 5px;
    transition: background-color 300ms ease-in-out;
  }

  &__button:hover {
    color: #cc9694;
    cursor: pointer;
    background-color: #000;
  }
} /* stylelint-disable-line */