@import "scss/config";

/* HAUS Í INDEX */
.iHeader {
  display: flex;
  margin: auto;
  flex-direction: column;
  background-color: #afb281;
  align-items: center;

  &__title {
    font-family: Oswald, Verdana, serif;
    font-size: 60px;
    text-align: center;
  }

  &__sub {
    display: flex;
    align-items: stretch;
    width: 100vw;
    max-width: $max-width;

    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__box {
    width: 33.3333333333%;

    @media (max-width: 700px) {
      width: 0%;
    }
  }

  &__links {
    display: inline-flex;
    width: 33.3333333333%;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  &__link1 {
    display: inline-flex;
    padding: 10px;
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    transition-property: color;
  }

  &__link2 {
    display: inline-flex;
    padding: 10px;
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    transition-property: color;

    @media (max-width: 699px) {
      margin-right: 30px;
    }
  }

  .li:nth-of-type(1) {
    text-decoration: underline;
  }

  &__link1:hover {
    color: #fff;
  }

  &__link2:hover {
    color: #fff;
  }

  &__cart {
    display: inline-flex;
    width: 33.3333333333%;
    padding: 10px;
    justify-content: flex-end;

    @media (max-width: 500) {
      width: 100%;
      justify-content: center;
    }
  }

  &__image {
    width: 1.5em;
    height: 1.5em;
    padding-right: 0.2em;
  }
}

/* EFNI Í INDEX */
.iMain {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 20px;

  &__grid {
    max-width: $max-width;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
    flex-direction: column;

    @media (min-width: 800px) {
      display: flex;
      flex-direction: row;
    }
  }

  &__row:nth-child(2) {
    @media (max-width: 799px) {
      flex-direction: column-reverse;
    }
  }

  &__col {
    width: 100%;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    justify-content: center;

    @media (min-width: 800px) {
      width: 50%;
      margin-top: 20px;
    }
  }

  &__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  &__image {
    width: 100%;
  }

  &__img {
    width: 100%;
  }

  &__title {
    padding-bottom: 20px;
    font-family: Oswald, Verdana, serif;
    font-size: 36px;
  }

  &__text {
    padding-bottom: 40px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 21px;
  }

  &__button {
    width: 250px;
    padding: 10px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #cc9694;
    border-radius: 5px;
    transition: background-color 300ms ease-in-out;
  }

  &__button:hover {
    color: #cc9694;
    cursor: pointer;
    background-color: #000;
  }
}

/* FÓTUR Í INDEX */
.iFooter {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #cc9694;

  &__grid {
    max-width: 1200px;
    padding-top: 10px;
    padding-bottom: 60px;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    margin-right: -10px;
    margin-left: -10px;

    @media (max-width: 800px) {
      max-width: 100%;
      padding-right: 10px;
      flex-wrap: wrap;
    }

    @media (max-width: 500px) {
      padding-right: 0;
      padding-left: -10px;
      margin: 10px;
    }
  }

  &__col {
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;

    @media (max-width: 800px) {
      width: 50%;
    }
  }

  &__title {
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: "Open Sans", helvetica, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #000;
  }

  &__links {
    display: flex;
    height: 100%;
    list-style: none;
    flex-direction: column;
  }

  &__link {
    font-family: "Open Sans", helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #fcffd2;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    transition-property: color;
  }

  &__link:hover {
    color: #000;
  }

  &__credit {
    padding-bottom: 60px;
    margin: 0 auto;
    font-family: "Open Sans", helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    justify-content: center;
  }
} /* stylelint-disable-line */