
@import "scss/config";
// HAUS Í PRODUCTS 
.pHeader {
  display: flex;
  flex-direction: column;
  background-color: #afb281;
  margin: auto;
  align-items: center;

  &__title {
    font-size: 60px;
    text-align: center;
    font-family: 'Oswald', Verdana, serif;
  }

  &__sub {
    display:flex;
    align-items: stretch;
    max-width: 1200px;
    width: 100vw;

    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__box {
    width: 33.3333333333%;

    @media (max-width: 700px) {
      width: 0%;
    }
  }

  &__links {
    display:inline-flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 33.3333333333%;

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  &__link {
    display:inline-flex;
    color: #000000;
    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    padding: 10px;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
  }
  li {
    font-weight: bold;
  }
  li:nth-of-type(2) {
    text-decoration: underline;
  }

  &__link:hover {
    color: #ffffff;
  }

  &__cart {
    display: flex;
    width: 33.3333333333%;
    justify-content: flex-end;
    padding: 10px;

    @media (max-width: 700) {
      width: 100%;
      justify-content: center;
    }
  }

  &__image {
    width: 1.5em;
    height: 1.5em;
    padding-right: 0.2em;
  }
}

// EFNI Í PRODUCTS 
.pMain {
  max-width: 1200px;
  margin: 0 auto;

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  &__row {
    margin-left: -10px;
    margin-right: -10px;
  
    display: flex;
    flex-wrap: wrap;
    
    @media (max-width: 800px) {
      max-width: 100%;
      margin: 10px;
  
      flex-wrap: wrap;
    }
    @media (max-width: 500px) {
      max-width: 100%;
      margin: 10px;
  
      flex-direction: column;
    }
  }
  &__col {
    padding: 40px 10px 30px 10px;
    width: 33.3333333333%;
  
    @media (max-width:800px) {
      width: 50%;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
  }
}
.product__image {
  width: 100%;
  img {
    width: 100%;
  }
}
.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 43%;
}
.container1 {
  display: flex;
  flex-direction: column;
}
.button__container {
  display: flex;
  justify-content: space-between;
}

.cartImage {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

input {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  border-radius: 3px;
  border-color: #000000;
  border-width: thin;
  padding: 8px;
  width: 60%;
  @media (max-width:800px) {
  }
  @media (max-width: 500px) {
  }

}
button {
  background-color: #ffffff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  border-radius: 3px;
  border-color: #000000;
  border-width: thin;
  transition: background-color 300ms ease-in-out; 
  padding: 6px;
  width: 40%;
  margin-left: 10px;
  @media (max-width:800px) {
  }
  @media (max-width: 500px) {
  }
}
button:hover {
  background-color: #cc9694;
  cursor: pointer;
  border-radius: 3px;
  border-color: #cc9694;
  border-width: thin;
}
.product__price {
  font-family: 'Oswald', Verdana, serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  word-break: break-word;
  margin-bottom: 10px; 
  margin-top: 10px;
}
.product__amount {
  font-family: 'Open Sans', Helvetica, sans-serif;
}
.product__title {
  font-family: 'Oswald', Verdana, serif;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 1;
  word-break: break-word;
}
.product__text {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

// FÓTUR Í PRODUCTS 
.pFooter {
  background-color: #cc9694;
  width: 100%;
  margin-top: 40px;

  &__grid {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 40px;
  }
  &__row {
    display: flex;
    
    margin-left: -10px;
    margin-right: -10px;
    
    @media (max-width: 800px) {
      max-width: 100%;
      margin: 10px;
  
      flex-wrap: wrap;
    }
  }
  &__col { 
    padding-right: 10px;
    padding-left: 10px;
    width: 25%;

    @media (max-width:800px) {
      width: 50%;
    }
  }

  &__title {
    font-size: 21px;
    font-family: 'Open Sans', helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    padding-bottom: 10px;
    padding-top: 30px;
  }
  &__links {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__link {
    color: #fcffd2;
    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    font-family: 'Open Sans', helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.8;
  }

  &__link:hover {
    color: #000000;
  }

  &__credit {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding-bottom: 40px;
  }
}