@import "scss/config";

/* HAUS Í PRODUCTS */
.pHeader {
  display: flex;
  margin: auto;
  flex-direction: column;
  background-color: #afb281;
  align-items: center;

  &__title {
    font-family: Oswald, Verdana, serif;
    font-size: 60px;
    text-align: center;
  }

  &__sub {
    display: flex;
    align-items: stretch;
    width: 100vw;
    max-width: 1200px;

    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__box {
    width: 33.3333333333%;

    @media (max-width: 700px) {
      width: 0%;
    }
  }

  &__links {
    display: inline-flex;
    width: 33.3333333333%;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  &__link {
    display: inline-flex;
    padding: 10px;
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    transition-property: color;
  }

  .li {
    font-weight: bold;
  }

  .li:nth-of-type(2) {
    text-decoration: underline;
  }

  &__link:hover {
    color: #fff;
  }

  &__cart {
    display: flex;
    width: 33.3333333333%;
    justify-content: flex-end;
    padding: 10px;

    @media (max-width: 700) {
      width: 100%;
      justify-content: center;
    }
  }

  &__image {
    width: 1.5em;
    height: 1.5em;
    padding-right: 0.2em;
  }
}

/* EFNI Í PRODUCTS */
.pMain {
  max-width: 1200px;
  margin: 0 auto;

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  &__row {
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
    flex-wrap: wrap;

    @media (max-width: 800px) {
      max-width: 100%;
      margin: 10px;
      flex-wrap: wrap;
    }
    @media (max-width: 500px) {
      max-width: 100%;
      margin: 10px;
      flex-direction: column;
    }
  }

  &__col {
    width: 33.3333333333%;

    padding-top: 40px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 10px;

    @media (max-width: 800px) {
      width: 50%;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
  }
}

.product__image {
  width: 100%;
}

.product__img {
  width: 100%;
}

.card__container {
  display: flex;
  height: 43%;
  flex-direction: column;
  justify-content: space-between;
}

.container1 {
  display: flex;
  flex-direction: column;
}
.button__container {
  display: flex;
  justify-content: space-between;
}

.pMain__cartImage {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.pMain__input {
  width: 60%;
  padding: 8px;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  border-color: #000;
  border-width: thin;
  border-radius: 3px;
}

.pMain__button {
  width: 40%;
  padding: 6px;
  margin-left: 10px;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  background-color: #fff;
  border-color: #000;
  border-width: thin;
  border-radius: 3px;
  transition: background-color 300ms ease-in-out;
}

.pMain__button:hover {
  cursor: pointer;
  background-color: #cc9694;
  border-width: thin;
  border-radius: 3px;
}

.product__price {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Oswald, Verdana, serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  word-break: break-word;
}

.product__amount {
  font-family: "Open Sans", Helvetica, sans-serif;
}

.product__title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: Oswald, Verdana, serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  word-break: break-word;
}

.product__text {
  font-family: "Open Sans", Helvetica, sans-serif;
}

/* FÓTUR Í PRODUCTS */
.pFooter {
  width: 100%;
  margin-top: 40px;
  background-color: #cc9694;

  &__grid {
    max-width: 1200px;
    padding-top: 10px;
    padding-bottom: 40px;
    margin: 0 auto;
  }

  &__row {

    display: flex;
    margin-right: -10px;
    margin-left: -10px;
    @media (max-width: 800px) {
      max-width: 100%;
      margin: 10px;
      flex-wrap: wrap;
    }
  }

  &__col {

    width: 25%;
    padding-right: 10px;
    padding-left: 10px;

    @media (max-width: 800px) {
      width: 50%;
    }
  }

  &__title {
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: "Open Sans", helvetica, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #000;
  }

  &__links {
    display: flex;
    height: 100%;
    list-style: none;
    flex-direction: column;
  }

  &__link {
    font-family: "Open Sans", helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #fcffd2;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    transition-property: color;
  }

  &__link:hover {
    color: #000;
  }

  &__credit {
    padding-bottom: 40px;
    margin: 0 auto;
    font-family: "Open Sans", helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    justify-content: center;
  }
} /* stylelint-disable-line */
